html,
body {
    height: 100%;
    margin: auto;
    padding: 5%;
    position: relative;
}






/* GOOGLE MAP */

#map {
    height: 500px;
    width: 500px;
    position: relative;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}
/* TITLE OF PAGE */
.title-project {
        text-align: center;
        font-size: 56px;
}

#search-input {
    font-size: 18px;
}
